@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');


body{
    /*background-color: rgb(161, 205, 223);*/
    background-image: url(background.jpg) ;
    font-family: 'Dosis', sans-serif;
    font-size: larger;
}

.bodys{

        background-color: rgb(223, 219, 219) ;
        border-color: rgb(0, 0, 0);
        border-width: 1px;
        border-style: solid;
        max-width: 1000px;
        border-radius: 3px;
        margin: 0 auto;
        padding: 5px;
}

.banner{
        background-color: rgb(223, 219, 219) ;
        border-color: rgb(0, 0, 0);
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        margin: 0 auto;
        padding: 5px;
        max-width: 1000px;
         
        
}


.footer{
        background-color: rgb(255, 255, 255) ;
        border-color: rgb(0, 0, 0);
        border-width: 1px;
        border-style: solid;
        width: 1200px;
        border-radius: 3px;
        margin: 0 auto;
        padding: 5px;
}


  
  .image-container {
    position: relative;
    width: 100%;
    padding: 8px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5e9bafa2;
  }
  
  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .postcard{
    max-width: 18rem; 
    margin-right: 50px; 
    margin-bottom: 50px;

  }

  .e-photos{
    height: 250px;
  }

  a:hover.home-btn{
    background-color: rgb(178, 236, 236);
  }
  a:hover.destination-btn{
    background-color: rgb(255, 241, 161);
  }
  a:hover.contactme-btn {
    background-color: rgb(193, 238, 157);
  }
  a:hover.aboutme-btn{
    background-color: rgb(206, 157, 238);
  }
  a:hover.asia-btn{
    background-color: rgb(238, 203, 157);
  }
  a:hover.northamerica-btn{
    background-color: rgb(157, 176, 238);
  }
  a:hover.europe-btn{
    background-color: rgb(238, 157, 157);
  }

  .center-txt{
    text-align: center;
  }

  .float-right{
    float: right;
  }

  .float-left{
    float: left;
    margin-right: 15px;
  }

  .pin area:hover{
    height: 400px;
    width: 400px; 

  }

  .europe-map{
    border-color:  rgb(157, 176, 238);
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;*/
    
  }

  .img-res{
    max-width: 400px;
    margin-left: auto;
  }